img {
  max-width: 100%;

}
.green1 {
  color: #05CC7C;
}

.blue1 {
  color: #191935;
}

h3 {
  font-size: 18px;
}

h2 {
  color: white;
}

span {
  color: white;
}

.f800 {
  font-weight: 800;
}

.fs20{
  font-size: 20px;
  font-weight: bold;
}

.fs12 {
  font-size: 12px;
}

.button1 {
  background-color: #05CC7C;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.button2 {
  background-color: #151632;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: #05CC7C;
}

.play-button {
  border-radius: 100%;
  font-size: 18px;
  width: 52px;
  height: 52px;
  margin-left: 10px;
}

.small-button {
  background-color: #05CC7C;
  width: 40px;

  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.small-button1 {
  background-color: #191935;
  width: 40px;

  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.mt-10 {
  margin-top: 100px;
}

.bg-white {
  background-color: white;
}

.wh300 {
  width: 300px;
}

.wh400 {
  width: 400px;
}
